@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

html, body{
  height: 100%;
}

.navbar-brand{
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2em;
}

.navbar li{
  text-transform: capitalize;
}

#splash{
  background-image: url(https://images.unsplash.com/7/Top_view.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450);
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: 50px;
  padding-top: 15%;
  color: #fff;
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

#splash h1{
  font-size: 2em;
}

#splash a{
  color: #fff;
}

#splash a:hover{
  color: #e7e7e7;
}

#portfolio{
  background-image: url(https://images.unsplash.com/photo-1441311956160-78a471e0638d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=525c91c050537c1f9388ca0ccc4b6b47);
  background-size: cover;
  height: 100%;
}

hr{
  width: 500px;
}
